h1 {
    font-family: Verdana, Tahoma, sans-serif;
}

#album {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
}

