body, html {
    height: 100%;
    background-color: bisque;
    font-family: 'Lato', sans-serif, 'Shadows Into Light', "cursive";;
    margin:0;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div {
    margin: 5%;
    
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/8482798/pexels-photo-8482798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    height: 25%;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
}

form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    
}

button {
    font-size: 1em;
    border-radius: 7em;
    cursor: pointer;
    max-width: 100px;
    text-align: center;
}

#artistsearch {
    display: flex;
    flex-wrap: wrap;
    border-radius: 7em;
    font-size: 1em;  
    padding: .5em;
    
}

h1 {
    color:aliceblue;
    text-align: center;
    position: relative;
    padding-top: 1em;
    font-size: 3rem;
    
}

#previewMusic {
    background-color: rgb(173, 203, 208);
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    border-radius: 7em;
}

#album {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.band {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    justify-content: center;
    text-align: center;
}
.art {
margin: 10px;
width: 100%;
border-radius: .25rem;

}

.previewLink {
    margin: 0;
    border-radius: 20em;
    background-color: rgb(182, 159, 203);
    padding: 1rem 2rem;
    text-decoration: none;
    color: white;

}
.errorMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: red;
    font-size: x-large;
    background-color: rgb(249, 155, 155);
    border-radius: 7em;
    
}

.noResults {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: rgb(4, 3, 0);
    font-size: x-large;
    background-color: rgb(241, 220, 84);
    border-radius: 7em;
}

