body, html {
    height: 100%;
    background-color: bisque;
    
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

div {
    margin: 5%;
    
}

.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/8482798/pexels-photo-8482798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    height: 25%;
    background-position: center;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    color:aliceblue;
    text-align: center;
    position: absolute;
    padding-top: 2em;
    font-size: 50px;
    
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#artistsearch {
    font: 1.5em Verdana, Tahoma, sans-serif;
}


#album {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}


.band {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    justify-content: center;
    text-align: center;
}
.art {
margin: 10px;
width: 100%;

}

.track {
    margin: 0;
}

